 
        <div class="card mb-3">
          <div class="card-body">
            <p class="card-text">{{title}}</p>
            
            <p class="card-text">note text</p>
        
          </div>
          <div class="card-footer">
              controls to delete note go here
          </div>
        </div>
 