
    <div class="container">
        <div class="jumbotron">
            <div class="container">

                
                <h1 class="display-4">Mozilla Blog article scraper</h1>
                <p class="lead">This Node.js-Express-MongoDB-Mongoose app scrapes blog posts from Mozilla into a Mongo database. It lets you save and make notes on them.</p>
                <a class="btn btn-primary btn-block action-scrape" href="#" role="button">Scrape new stories</a>
                
            </div>
        </div>
     {{#each articles}} {{> articlePart}} {{/each}}
    </div>
    <!-- close container -->

    <footer class="container py-5">
        <div class="row">
          <div class="col-md">
            <hr>
            <p class="d-block bg-secondary mb-3 p-1 text-light text-center rounded">All caught up!</p>
            <p class="d-block mb-3 text-center"><i class="fab fa-github"></i><a href="https://github.com/cslin82/Mongo-News-Scraper"> @cslin82/Mongo-News-Scraper</a> on GitHub</p>

          </div>
          
        </div>
      </footer>



